@font-face {
    font-family: "Raleway_Regular";
    src: local(Raleway_Regular),
      url(./fonts/Raleway_Regular.woff2) format("woff2"),
      url(./fonts/Raleway_Regular.woff) format("woff"),
}
@font-face {
    font-family: "Raleway_Bold";
    src: local(Raleway_Bold),
      url(./fonts/Raleway_Bold.woff2) format("woff2"),
      url(./fonts/Raleway_Bold.woff) format("woff"),
}

body {
    margin: 0;
    color: white;
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
    button {
        outline: none;
    }
    .container {
        // font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 19px;
        color: #E7E7EB;
        display: flex;
        flex-direction: column;
        .search_container {
            background: #1E213A;
            overflow-y: scroll;
            overflow-x: hidden;
            .search {
                background: #cbcdd7;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;
                font-size: 16px;
                padding: 10px 16px;
                margin-top: 18px;
                margin-left: 11px;
                margin-bottom: 76px;
                margin-right: 319px;
                width: 160px;
            }
            .search_form {
                width: 100%;
                margin-left: 11px;
                form {
                    // font-family: Raleway;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    input {
                        background: #1E213A;
                        border: 1px solid white;
                        outline: none;
                        padding: 10px 16px;
                        color: #b5b8c9;
                        margin-right: 4%;
                        width: 40%;
                    }
                    button {
                        background: #3C47E9;
                        border: 1px solid white;
                        color: white;
                        padding: 10px 16px;
                    }
                }
                .title {
                    padding: 16px 20px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border: 1px solid white;
                    background: none;
                    color: white;
                    max-width: 53%;
                }
            }
        }
        .showinglists_container {
            background: #100E1D;
            width: 100%;
            .sub_container {
                padding-right: 10px;
                padding-left: 10px;
                .degree_button {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding-top: 42px;
                    padding-bottom: 60px;
                    button:nth-of-type(1) {
                        margin-right: 10px;
                    }
                }
                .wrapper_container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding-bottom: 72px;
                    .wrapper {
                        width: 15%;
                        margin-bottom: 10px;
                        background: #1E213A;
                        padding: 10px;
                        li:last-of-type {
                            ul {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                // .details_weather {
                //     padding: 10px;
                //     margin-bottom: 10px;
                //     li {
                //         background: #1E213A;
                //         max-width: 50%;
                //         height: 100px;
                //     }
                // }
                .actual_weather {
                    h2 {                        
                        // font-family: Raleway;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 28px;
                        color: #E7E7EB;
                        padding-bottom: 32px;
                    }
                    ul {
                        li {
                            background: #1E213A;
                            width: 100%;
                            margin: auto;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 10px;
                            ul {
                                li {
                                    width: 109px;
                                    padding: 0;
                                    margin-bottom: 10px;
                                    color: #E7E7EB;
                                    // font-family: Raleway;
                                    font-style: normal;
                                    font-weight: 500;
                                }
                                li:first-of-type {
                                    h3 {
                                        font-size: 16px;
                                        line-height: 19px;
                                    }
                                }
                                li:nth-of-type(2) {
                                    font-size: 30px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: baseline;
                                    span {
                                        font-weight: bold;
                                        font-size: 64px;
                                        line-height: 75px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}


@media(min-width: 720px) {
    body {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // .search_container {
                
            // }
            .showinglists_container {
                .sub_container {
                    // padding-right: 10px;
                    // padding-left: 10px;
                    max-width: 700px;
                    margin: auto;
                    padding: 0;
                }
                
            }
    
        }
    }
}