.search_container {
    background: #1E213A;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Raleway_Rgular";
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #616475;
    .container {
        .toggle-menu {
            width: 50px;
            height: 50px;
            display: inline-block;
            position: relative;
            top: 10px;
            float: left;
            z-index: 1000;
          }
          .container {
            position: relative;
            overflow: hidden;
            height: 9000px;
            z-index: 1;
          }
          .menu-drawer {
            max-width: 25%;
            background: #1E213A;
            height: 900px;
            position: absolute;
            left: -550px;
            top: 0;
            transition: right linear .2s;
            padding: 50px;
            form {
              input {
                  background: #1E213A;
                  border: 1px solid white;
                  outline: none;
                  padding: 10px 16px;
                  color: #b5b8c9;
                  margin-right: 4%;
                  width: 37%;
                  margin-bottom: 10px;
              }
              button {
                  font-weight: 600;
                  background: #3C47E9;
                  border: 1px solid white;
                  padding: 10px 16px;
              }
          }
          }
          
          .open {
            left: 0px;
            transition: right linear .2s;
          }
        .search {
            color: #E7E7EB;
            background: #6E707A;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            padding: 10px 16px;
            margin-top: 18px;
            margin-left: 11px;
            margin-bottom: 109px;
            margin-right: 319px;
            width: 162px;
        }
    }
    .title {
        padding: 10px 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid white;
        background: none;
        max-width: 70%;
    }
}
