.search {
    background: #1E213A;
    .toggle_btn {
        margin-top: 18px;
        margin-left: 11px;
        padding: 11px 18px;
        box-sizing: border-box;
        border: none;
        color: #E7E7EB;
        // font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        background: #6E707A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 76px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .actual_weather_details {
        li:first-of-type {
            img {
                width: 35%;
            }
        }
    }
}